{% extends 'confirmation_modal.html' %}

{% block modal-id %}id="saveModal"{% endblock modal-id %}
{% block action %} action="{% url 'edit-recipe-step2' %}"{% endblock action %}

{% block submit-btn-color %}btn-outline-primary{% endblock submit-btn-color %}
{% block submit-btn-value %}儲存{% endblock submit-btn-value %}

{% block modal-title %}是否要儲存？{% endblock modal-title %}
{% block modal-content %}
{% if recipe.photo %}
<img src="{{ recipe.photo.photo.url }}" height="100" class="img-fluid rounded" alt="{{ recipe.delicacy }}">
<br>
{% endif %}
{{ recipe.delicacy }}
{% endblock modal-content %}
