<!-- Modal -->
<div class="modal fade" {% block modal-id %} id="clearModal" {% endblock modal-id %} tabindex="-1" aria-labelledby="clearModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title fs-5" id="clearModalLabel"><i class="fas fa-trash-alt"></i>&nbsp;&nbsp; Clear Recipe</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="fs-5 text-center">確定要刪除此草稿嗎？</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">取消</button>
                <a href="{% url 'clear-recipe' %}" class="btn btn-danger" title="Clear">刪除</a>
            </div>
        </div>
    </div>
</div>