{% extends 'ingredients/nutrition_facts.html' %}

{% block calories %}{{ item.nutrition_facts.calories }}{% endblock calories %}
{% block protein %}{{ item.nutrition_facts.protein }}{% endblock protein %}
{% block total_fat %}{{ item.nutrition_facts.total_fat }}{% endblock total_fat %}
{% block saturated_fat %}{{ item.nutrition_facts.saturated_fat }}{% endblock saturated_fat %}
{% block trans_fat %}{{ item.nutrition_facts.trans_fat }}{% endblock trans_fat %}
{% block polyunsaturated_fat %}{{ item.nutrition_facts.polyunsaturated_fat }}{% endblock polyunsaturated_fat %}
{% block monounsaturated_fat %}{{ item.nutrition_facts.monounsaturated_fat }}{% endblock monounsaturated_fat %}
{% block carbohydrate %}{{ item.nutrition_facts.carbohydrate }}{% endblock carbohydrate %}
{% block sugar %}{{ item.nutrition_facts.sugar }}{% endblock sugar %}
{% block sodium %} {{ item.nutrition_facts.sodium }}{% endblock sodium %}
{% block potassium %} {{ item.nutrition_facts.potassium }}{% endblock potassium %}
{% block calcium %} {{ item.nutrition_facts.calcium }}{% endblock calcium %}
{% block iron %} {{ item.nutrition_facts.iron }}{% endblock iron %}
{% block zinc %} {{ item.nutrition_facts.zinc }}{% endblock zinc %}
{% block dietary_fiber %} {{ item.nutrition_facts.dietary_fiber }}{% endblock dietary_fiber %} g
{% block cholesterol %} {{ item.nutrition_facts.cholesterol }}{% endblock cholesterol %}
{% block vitamin_a %} {{ item.nutrition_facts.vitamin_a }}{% endblock vitamin_a %}
{% block vitamin_d %} {{ item.nutrition_facts.vitamin_d }}{% endblock vitamin_d %}
{% block vitamin_e %} {{ item.nutrition_facts.vitamin_e }}{% endblock vitamin_e %}
{% block vitamin_k %} {{ item.nutrition_facts.vitamin_k }}{% endblock vitamin_k %}
{% block vitamin_b1 %} {{ item.nutrition_facts.vitamin_b1 }}{% endblock vitamin_b1 %}
{% block vitamin_b2 %} {{ item.nutrition_facts.vitamin_b2 }}{% endblock vitamin_b2 %}
{% block niacin %} {{ item.nutrition_facts.niacin }}{% endblock niacin %}
{% block vitamin_b6 %} {{ item.nutrition_facts.vitamin_b6 }}{% endblock vitamin_b6 %}
{% block vitamin_b12 %} {{ item.nutrition_facts.vitamin_b12 }}{% endblock vitamin_b12 %}
{% block folate %} {{ item.nutrition_facts.folate }}{% endblock folate %}
{% block vitamin_c %} {{ item.nutrition_facts.vitamin_c }}{% endblock vitamin_c %}